.profil .hero-page {
    position: relative;
    .p-user-img {
        z-index: 3;
        position: absolute;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
        border: 3px solid white;
        top :30vh;
        left: 10vw;
    }
}

.profil-intro {
    display: flex;
    justify-content: start;
    align-items: start;
}
.profil-infos {
    margin-top: 50px;
    width: 25vw;
    span {
        color:orange ;
    }
    h2 {
        font-family: "Playfair Display", serif;
        font-size: 32px;
        color: black;
    }
    .profil-description {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: justify;
        line-height: 1.4;
        font-family: "Roboto", sans-serif;
    }
}
.p-social {
    i {color: orange;}
}
.p-infos-table {
    display: flex;
    i{color: orange;}
    p {
        margin-right: 50px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }
}


.p-news {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.profil .gallery-section {
    margin-top: 150px;
}